@use '../abstract/' as *;

.header {
	&__wrapper {
        display: flex;
        justify-content: space-between;
		align-items: center;
		nav {
			ul {
				display: flex;
				gap: 4rem;
				li {
					a {
						color: $clr--light;
					}
					a:hover{
						color: $clr--primary;
						text-decoration: underline;
					}
				}
			}
		}
	}
}


