@use '../abstract/' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font: 'Montserrat', sans-serif;

html {
	font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $clr--dark;
}

p {
	color: $clr--light;
	font-size: clamp(1rem, 5vw, 1.4rem);
}

.banner {
	h1 {
		font-size: clamp(3rem, 6vw, 5rem);
	}
}

.about {
	h1 {
		font-size: clamp(3rem, 6vw, 5rem);
	}
}

.services .container {
	h1 {
		font-size: clamp(3rem, 6vw, 5rem);
	}
}

.work {
	h1 {
		font-size: clamp(3rem, 6vw, 5rem);
	}
}

.contact {
	h1 {
		font-size: clamp(3rem, 6vw, 5rem);
	}
	h4 {
		font-size: 2.5rem;
	}
	p {
		font-size: 1.5rem;
	}
}
